
 {% extends 'web/base.html' %}
 {% block content %}

{% include './tmp/nav.html' %}
  <!-- Page Content -->
  <div class="container">
  <h2>Amlak - Kara / Ads List</h2>
            <!-- Page Features -->
    <div class="row text-center">
        {% for addAds in adslist %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="{{ addAds.Adspic.url }}" alt="{{ addAds.title }}">
              <div class="card-body">
                <h4 class="card-title">{{ addAds.title }}</h4>
                <p class="card-text">{{ addAds.body }}</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-warning">{{ addAds.price }}</a>
                <hr>
                <a href="#" class="btn btn-primary">نمایش</a>
              </div>
            </div>
          </div>
    {% endfor %}
        </div>
        <!-- /.row -->
    </div>
    {% include './tmp/footer.html' %}
    
    {% endblock %}